@{
    ViewData["Title"] = "Aprobación";
}

<div class="text-center">
   <div><h1 class="display-4">Registro hecho!!!</h1></div>
    <div><h1 class="display-4">La aprobación del producto fue realizada con exito.</h1></div>
</div>