@{
    ViewData["Title"] = "Aprobación";
}

<div class="text-center">
   <div><h1 class="display-4">Registro realizado!!!</h1></div>
    <div><h1 class="display-4">Aprobación del producto con exito.</h1></div>
</div>